body {
  margin: 0;
  background: #0d0d0d;
  color: white;
  font-family: Arial;
}

header {
  background: #111;
  padding: 15px;
  text-align: center;
  color: #00ff88;
  font-weight: bold;
}

main {
  padding: 10px;
}

h2 {
  margin: 10px 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.card {
  background: #1a1a1a;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card p {
  padding: 8px;
  font-size: 14px;
}

.btn {
  background: #00ff88;
  color: black;
  border: none;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}
